body {
  margin: 0%;
  text-align: center;
  font-family: "Merriweather", serif;
}
p {
  line-height: 2;
  font-size: 150%;
  font-family: 'Bree Serif', serif;
}

h1 {
  margin: 50px auto 0px auto;
  line-height: 1;
  font-family: "Sacramento", cursive;
  font-size: 562.4%;
  color: #0a9696;
}

hr {
  border-style: none;
  border-top: dotted 7px #9aa3a3;
  width: 6%;
  margin: 100px auto;
}
h2,
h3 {
  margin-top: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #0a9696;
  padding-top: 10px;
  font-weight: normal;
}

.profile-pic {
  width: 20%;
}
.cloud1 {
  width: 20%;
  position: absolute;
  right: 10%;
  top: 40px;
}
.cloud2 {
  width: 20%;
  position: absolute;
  top: 350px;
  left: 10%;
  opacity: 50%;
  color: black;
}
.mountain {
}

.Top-Container {
 background-color: #0e2574;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.skill-image1 {
  border-radius: 50%;
  width: 30%;
  margin-right: 30px;
  float: left;
}
.skill-image2 {
  border-radius: 50%;
  width: 30%;
  margin-left: 30px;
  float: right;
}
.skill-text1{
  font-family: 'Bree Serif', serif;
  font-size: 130%;
}
.skill-text2{
  font-family: 'Bree Serif', serif;
  font-size: 130%;
}
.skill-text{
  font-family: 'Bree Serif', serif;
  font-size: 150%;

}

.intro {
  width: 30%;
  margin: auto;
  font-family: 'Bree Serif', serif;
  font-size: 150%;
}
/* .gamer{
  font-size: 150%;
} */

.contact-message {
  width: 50%;
  margin: 40px auto 60px;
  font-family: 'Bree Serif', serif;
  font-size: 130%;
}

.Middle-Container {
  margin: 1% ;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  margin: 10px;
  font-size: 170%;
}

a:hover{
    color: #c3dcec;
}
.copyright{
    color: #EAF6F6;
    font-size: small;
    padding: 15px 0;
}
/* .Bottom-Container {
  background-color: #000000;
  padding-top:  3% ;
} */

/* .Bottom-Container p{
  margin-top: 15%;
} */
/* .foot{
  background-color: black;
  padding-top: 20%;
}
.foot a{
  padding-bottom: 0%;
} */
footer{
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 17px;
  padding: 10px 12px;

}
.foot{
  padding-top: 3%;
  padding-bottom: 5%;
}
.skills h2{
  color: #f34f4f;
  font: bold;
  font-size: 500%;
}
.insta {
 
  font-size: 120%;
  color: #ff0095;
  font: bold;
 
}
.you{
  font-size: 135%;
  color: #ff0000;
  font: bold;
  
}
/* .sub{
  background:
      linear-gradient(red, transparent),
      linear-gradient(to top left, lime, transparent),
      linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
} */
.foot y{
  color: #ff0000;
 
}
.foot i{
  color: #e94994;
}
.foot l{
  color: #11198b;
}
.foot t{
  color: #0084ff;
}
.foot w{
  color: #80c4fc;
}
.skill-text i:hover{
color: #dd0808;}


 
 




